body{
    background: #454545;
}
body,a{
    color: #eee;
}
a{
    text-decoration: none;
}
.side-bar{
   float: left;
   width: 20%;
}
.side-bar >*{
    padding: 10px 15px;
}
.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    padding: 8px;
    color:#777;
    transition: color 200ms;
}
.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color:#e4e4e4;
}
.side-bar .nav a{
    font-weight: 700;
}
.main{
    line-height: 1.5;
    float: right;
    width:80%;
    color:#454545;
}
.header .logo{
    line-height: 1;
    border:5px solid #eee;
    padding: 10px 20px;
    font-size: 30px;
    display:inline-block;
    margin-bottom: 15px;
}
.article-list{
    margin-right: 30%;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 0 3px rgb(0,0,.2);
}
.article-list .item .title{
    color:#454545;
    font-size: 22px;
    font-weight: 700;
}
.article-list .item .status{
    font-size: 13px;
    color:#ccc;
}
.article-list .item >*{
    margin:10px 0;
}